fastapi[all]
uvicorn
python-multipart
pydantic
python-dotenv
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose
sentence-transformers
faiss-cpu
pytesseract
pillow
openai
sqlalchemy
alembic
psycopg2-binary
